In [3]:
import pandas as pd

In [24]:
bond = pd.read_csv('jamesbond.csv', index_col='Film')
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [5]:
bond.set_index('Film', inplace=True)

KeyError: "None of ['Film'] are in the columns"

In [4]:
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [7]:
bond.reset_index(drop=False,inplace=True)
bond

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [8]:
bond.set_index('Film',inplace=True)
bond.reset_index(inplace=True)
bond.set_index('Year',inplace=True) #replaces the Film Index
bond

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2
1965,Thunderball,Sean Connery,Terence Young,848.1,41.9,4.7
1967,Casino Royale,David Niven,Ken Hughes,315.0,85.0,NaN
1967,You Only Live Twice,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
1969,On Her Majesty's Secret Service,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
1971,Diamonds Are Forever,Sean Connery,Guy Hamilton,442.5,34.7,5.8
1973,Live and Let Die,Roger Moore,Guy Hamilton,460.3,30.8,NaN
1974,The Man with the Golden Gun,Roger Moore,Guy Hamilton,334.0,27.7,NaN
1977,The Spy Who Loved Me,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
1979,Moonraker,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
1981,For Your Eyes Only,Roger Moore,John Glen,449.4,60.2,NaN
1983,Never Say Never Again,Sean Connery,Irvin Kershner,380.0,86.0,NaN
1983,Octopussy,Roger Moore,John Glen,373.8,53.9,7.8
1985,A View to a Kill,Roger Moore,John Glen,275.2,54.5,9.1
1987,The Living Daylights,Timothy Dalton,John Glen,313.5,68.8,5.2
1989,Licence to Kill,Timothy Dalton,John Glen,250.9,56.7,7.9
1995,GoldenEye,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
1997,Tomorrow Never Dies,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
1999,The World Is Not Enough,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
2002,Die Another Day,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
2006,Casino Royale,Daniel Craig,Martin Campbell,581.5,145.3,3.3
2008,Quantum of Solace,Daniel Craig,Marc Forster,514.2,181.4,8.1
2012,Skyfall,Daniel Craig,Sam Mendes,943.5,170.2,14.5
2015,Spectre,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [14]:
bond = pd.read_csv('jamesbond.csv', index_col='Film')
bond.sort_index(inplace=True)
sorted(bond['Director'])
bond.head()
#Always sort the index

['Guy Hamilton',
 'Guy Hamilton',
 'Guy Hamilton',
 'Guy Hamilton',
 'Irvin Kershner',
 'John Glen',
 'John Glen',
 'John Glen',
 'John Glen',
 'John Glen',
 'Ken Hughes',
 'Lee Tamahori',
 'Lewis Gilbert',
 'Lewis Gilbert',
 'Lewis Gilbert',
 'Marc Forster',
 'Martin Campbell',
 'Martin Campbell',
 'Michael Apted',
 'Peter R. Hunt',
 'Roger Spottiswoode',
 'Sam Mendes',
 'Sam Mendes',
 'Terence Young',
 'Terence Young',
 'Terence Young']

In [26]:
bond.loc['Casino Royale'] # return rows based on the index value
bond.loc['Goldfinger']
bond.loc['Die Another Day':'Moonraker'] #moonbreak inclusive, whenever we are using strings
bond.loc['Die Another Day':]
bond.loc[['Octopussy','Moonraker']] #multiple rows which exist
bond.loc[['Octopussy','Moonraker','Gold']] #multiple rows where one of the rows doesnt exists
'Gold' in bond.index

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike

False

In [28]:
#loc ==iloc when index is numeric
#loc string index , iloc numeric index
bond.iloc[15:20]
bond.iloc[[2,10,15,20]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN

In [15]:
bond.loc['Dr. No','Actor'] = 'Rohit' 
bond.loc['Dr. No']

Year                          1962
Actor                        Rohit
Director             Terence Young
Box Office                   448.8
Budget                           7
Bond Actor Salary              0.6
Name: Dr. No, dtype: object

In [38]:
bond.loc['Dr. No',['Actor','Budget']] = ['Anand',10] 
bond.loc['Dr. No']

Year                          1962
Actor                        Anand
Director             Terence Young
Box Office                   448.8
Budget                          10
Bond Actor Salary              0.6
Name: Dr. No, dtype: object

In [48]:
bond['Bond Actor Salary'].isna()
bond['Bond Actor Salary'].fillna(bond['Bond Actor Salary'].mean()).astype('int')

Film
A View to a Kill                    9
Casino Royale                       3
Casino Royale                       6
Diamonds Are Forever                5
Die Another Day                    17
Dr. No                              0
For Your Eyes Only                  6
From Russia with Love               1
GoldenEye                           5
Goldfinger                          3
Licence to Kill                     7
Live and Let Die                    6
Moonraker                           6
Never Say Never Again               6
Octopussy                           7
On Her Majesty's Secret Service     0
Quantum of Solace                   8
Skyfall                            14
Spectre                             6
The Living Daylights                5
The Man with the Golden Gun         6
The Spy Who Loved Me                6
The World Is Not Enough            13
Thunderball                         4
Tomorrow Never Dies                10
You Only Live Twice                 4
Name: Bond Actor Salary, dtype: int64

In [52]:
mask = bond['Actor'] == 'Sean Connery'
bond.loc[mask,'Actor'] = 'Sir Sean Connery'
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Anand,Terence Young,448.8,10.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [56]:
bond.rename(columns={'Box Office':'Revenue'}, inplace=True)
bond.head()
bond.columns = ('Release Year','Actor','Director','Revenue','Budget','Salary') #at once
bond.columns

Index(['Release Year', 'Actor', 'Director', 'Revenue', 'Budget', 'Salary'], dtype='object')

In [58]:
bond.drop(['Casino Royale','Dr. No']) #rows removed
bond.drop('Salary',axis=1) #drop the column

,Release Year,Actor,Director,Revenue,Budget
Film,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2
Dr. No,1962,Anand,Terence Young,448.8,10.0
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0
Octopussy,1983,Roger Moore,John Glen,373.8,53.9
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9

In [59]:
actor = bond.pop('Actor') #remove and store in another series 
del bond['Director']

In [60]:
bond.head()

                      Release Year  Revenue  Budget  Salary
Film
A View to a Kill              1985    275.2    54.5     9.1
Casino Royale                 2006    581.5   145.3     3.3
Casino Royale                 1967    315.0    85.0     NaN
Diamonds Are Forever          1971    442.5    34.7     5.8
Die Another Day               2002    465.4   154.2    17.9

In [63]:
bond.sample(n=5) #random row returned
bond.sample(frac=0.25)

                       Release Year  Revenue  Budget  Salary
Film
For Your Eyes Only             1981    449.4    60.2     NaN
A View to a Kill               1985    275.2    54.5     9.1
Never Say Never Again          1983    380.0    86.0     NaN
GoldenEye                      1995    518.5    76.9     5.1
Quantum of Solace              2008    514.2   181.4     8.1
The Spy Who Loved Me           1977    533.0    45.1     NaN

In [16]:
bond.sample(n=2, axis=1)

                                 Bond Actor Salary  Box Office
Film
A View to a Kill                               9.1       275.2
Casino Royale                                  3.3       581.5
Casino Royale                                  NaN       315.0
Diamonds Are Forever                           5.8       442.5
Die Another Day                               17.9       465.4
Dr. No                                         0.6       448.8
For Your Eyes Only                             NaN       449.4
From Russia with Love                          1.6       543.8
GoldenEye                                      5.1       518.5
Goldfinger                                     3.2       820.4
Licence to Kill                                7.9       250.9
Live and Let Die                               NaN       460.3
Moonraker                                      NaN       535.0
Never Say Never Again                          NaN       380.0
Octopussy                                      7.8       373.8
On Her Majesty's Secret Service                0.6       291.5
Quantum of Solace                              8.1       514.2
Skyfall                                       14.5       943.5
Spectre                                        NaN       726.7
The Living Daylights                           5.2       313.5
The Man with the Golden Gun                    NaN       334.0
The Spy Who Loved Me                           NaN       533.0
The World Is Not Enough                       13.5       439.5
Thunderball                                    4.7       848.1
Tomorrow Never Dies                           10.0       463.2
You Only Live Twice                            4.4       514.2

In [17]:
bond.sort_values('Box Office', ascending=False).head(3)
bond['Box Office'].sort_values()

Film
Licence to Kill                    250.9
A View to a Kill                   275.2
On Her Majesty's Secret Service    291.5
The Living Daylights               313.5
Casino Royale                      315.0
The Man with the Golden Gun        334.0
Octopussy                          373.8
Never Say Never Again              380.0
The World Is Not Enough            439.5
Diamonds Are Forever               442.5
Dr. No                             448.8
For Your Eyes Only                 449.4
Live and Let Die                   460.3
Tomorrow Never Dies                463.2
Die Another Day                    465.4
Quantum of Solace                  514.2
You Only Live Twice                514.2
GoldenEye                          518.5
The Spy Who Loved Me               533.0
Moonraker                          535.0
From Russia with Love              543.8
Casino Royale                      581.5
Spectre                            726.7
Goldfinger                         820.4
Thunderball                        848.1
Skyfall                            943.5
Name: Box Office, dtype: float64

In [68]:
bond.nlargest(n=3, columns='Box Office') #more efficient
#or
bond['Box Office'].nlargest(3)

24    943.5
3     848.1
2     820.4
Name: Box Office, dtype: float64

In [73]:
mask = bond['Actor'] == 'Sean Connery'
mask1 = bond['Box Office'] > 500
bond[mask]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN

In [74]:
bond.where(mask)
bond.where(mask & mask1)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,From Russia with Love,1963.0,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,You Only Live Twice,1967.0,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
bond.columns = [col_name.replace(' ','_') for col_name in bond.columns]
bond.columns

Index(['Year', 'Actor', 'Director', 'Box_Office', 'Budget',
       'Bond_Actor_Salary'],
      dtype='object')

In [21]:
def convert_123(number):
    return str(number)+' millions'

columns = ['Box Office','Budget','Bond Actor Salary']
for col in columns:
    bond[col] = bond[col].apply(convert_123)

bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8 millions,7.0 millions,0.6 millions
From Russia with Love,1963,Sean Connery,Terence Young,543.8 millions,12.6 millions,1.6 millions
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4 millions,18.6 millions,3.2 millions
Thunderball,1965,Sean Connery,Terence Young,848.1 millions,41.9 millions,4.7 millions
Casino Royale,1967,David Niven,Ken Hughes,315.0 millions,85.0 millions,nan millions

In [22]:
def rating(row):
    actor = row[1]
    budget = row[4]
    
    if actor=='Sean Connery':
        return 'Somewhat good!'
    elif actor=='Daniel Craig' and budget>100:
        return 'awesome!'
    else:
        return 'Don\'t know about this one!'

bond.apply(rating, axis='columns') #axis=1

TypeError: ("'>' not supported between instances of 'str' and 'int'", 'occurred at index Casino Royale')

In [91]:
directors= bond['Director'].copy()
directors['Dr. No'] = 'Rohit'
directors.head(3)
bond.head(3) #didnt chnge in the original copy

Film
Dr. No                           Rohit
From Russia with Love    Terence Young
Goldfinger                Guy Hamilton
Name: Director, dtype: object

In [31]:
bond.loc['Dr. No','Director']='Rohit'
bond.loc['Dr. No']

Year                          1962
Actor                 Sean Connery
Director                     Rohit
Box Office                   448.8
Budget                           7
Bond Actor Salary              0.6
(Dr. No, Director)           Rohit
Name: Dr. No, dtype: object